.header {
  margin-top: 20px;
  .container {
    max-width: 1320px;
    margin: auto;
    .header_wrapper {
      @include displayCenter(center, space-between);
      @include mQ($md) {
        padding: 10px;
      }
      @include mQ($sm) {
        padding: 10px;
      }
      .header_btn {
        padding: 10px 15px;
        background-color: #10143b;
        color: #ffff;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition-property: transform;
        transition-duration: 1s;
      }
      .header_btn:hover {
        transform: rotateY(180deg);
      }
    }
  }
}
